@use 'variables' as v;

%btn-style {
  color: v.$clr-text-base-dk;
  font-size: v.$fs-btn;
  background-color: v.$clr-primary;
  border-radius: v.$border-r;
  box-shadow: v.$shadow-lt;
  font-weight: 800;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 0.1em;
  padding: 0.2em 0.9em;
  border: none;

  transition: v.$base-transition;

  &:hover {
    background-color: v.$clr-primary-dk;
    transform: translateY(-1.5px);
  }
}

%margin-buttom {
  margin-bottom: 10rem;
}
%sub-heading {
  text-align: center;
  max-width: v.$text-max-width;
  margin-inline: auto;
}
@mixin heading {
  padding-top: 1rem;
  text-align: center;
  font-size: v.$fs-700;
  font-weight: v.$Semi-bold;
}
@mixin green-sHeading {
  text-align: center;
  font-size: v.$fs-600;
  color: v.$clr-primary-dk;
  font-weight: v.$Semi-bold;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

@mixin rotate-section {
  padding-block: 5rem;
  margin-top: -2rem;
  margin-bottom: 6rem;

  transform: skewY(-6deg);
  & > * {
    transform: skewY(6deg);
  }
}
