@use 'variables' as v;

%btn-style {
  color: v.$clr-text-base-dk;
  font-size: v.$fs-btn;

  background-color: v.$clr-primary;
  border-radius: v.$border-r;
  font-weight: 800;
  box-shadow: v.$shadow-lt;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 0.1em;
  padding: 0.2em 0.9em;
  border: none;

  transition: all 0.2s ease-in;
}

%margin-buttom {
  margin-bottom: 6rem;
}
%sub-heading {
  text-align: center;
  max-width: v.$text-max-width;
  margin-inline: auto;
}
@mixin heading {
  text-align: center;
  font-size: v.$fs-700;
  font-weight: v.$Semi-bold;
}
@mixin grean-sHeading {
  text-align: center;
  font-size: v.$fs-600;
  color: v.$clr-primary-dk;
  font-weight: v.$Semi-bold;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

@mixin rotate-section {
  padding-block: 5rem;
  margin-top: -2rem;
  margin-bottom: 6rem;

  transform: skewY(-6deg);
  & > * {
    transform: skewY(6deg);
  }
}
