/* base colors */
$clr-text-base: #eae8e8;
$clr-text-base-lt: rgb(152, 152, 152);
$clr-text-base-dk: #000;

/* primary colors */
$clr-primary: #66ff00;
$clr-primary-dk: #48ac06;
$clr-primary-dk2: #1f4c00;

/* backgrounds colors */
$clr-bg-dark: #202124;
$clr-bg-gray: #303030;

/* font weight */
$base-bold: 400;
$Semi-bold: 500;
$heading-bold: 600;

/* line height */
$line-height-: 1;

/* border raduse */
$border-r: 0.2rem;

$text-max-width: min(80%, 30em);

/* $shadow */
$shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
$shadow-lt: 0px 0px 13px -6px rgba(0, 0, 0, 0.51);
/* transitions */
$base-transition: all 280ms ease;
/*  font sizes */

$fs-250: 1.2rem;
$fs-300: 1.4rem;
$fs-400: 1.6rem;
$fs-500: 1.8rem;
$fs-600: 2.2rem;
$fs-650: 2.8rem;
$fs-700: 3.1rem;
$fs-800: 4rem;
$fs-900: 6rem;

$fs-base: $fs-400;
$fs-hero-heading: $fs-800;
$fs-heading: $fs-700;
$fs-xs-title: $fs-300;
$fs-btn: $fs-500;
$phone-breakpoint: 50em;
$tap-breakpoint: 70em;

@media (min-width: $phone-breakpoint) {
  $fs-base: $fs-500;
  $fs-hero-heading: calc($fs-800 + 2rem);
  $fs-heading: calc($fs-700 + 0.5rem);
  $fs-xs-title: $fs-400;
  $fs-btn: $fs-600;
}
