@use '../utils' as u;

.visit {
  @extend %margin-buttom;

  &__heading {
    @include u.heading;
    // text-align: start;
    margin-bottom: 4.1rem;
  }
  &__img-container {
    position: relative;
    width: 90%;
    margin-inline: auto;

    & img {
      filter: brightness(0.85);
    }
  }
  &__map-icon {
    position: absolute;
    top: 20%;
    left: 20%;
    @include u.flex-center;
    & svg {
      transition: u.$base-transition;
      width: 5rem;
      height: 5rem;
      fill: u.$clr-primary-dk;
    }
    &:hover svg {
      fill: u.$clr-primary;
      transform: translateY(-2px);
    }
  }
}

.contact {
  &__heading {
    @include u.heading;
    text-align: start;
    margin-bottom: 4.1rem;
  }
  &__items {
    font-size: u.$fs-600;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    &_item {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 0.8rem;
      & svg {
        fill: u.$clr-primary-dk;
      }
    }
  }
}

.media-icons {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  &_link {
    & svg {
      transition: u.$base-transition;
      width: 2.88rem;
      height: 2.88rem;
    }
    &:hover,
    &:active {
      & svg {
        fill: u.$clr-primary;
        transform: translateY(-2px);
      }
    }
  }
}
