@use '../utils' as u;

.visit {
  @extend %margin-buttom;

  &__heading {
    @include u.heading;
    text-align: start;
    margin-bottom: 4rem;
  }
  &__img-container {
    & img {
    }
  }
  &__map-icon {
    width: 4rem;
    height: 4rem;
  }
}
.contact {
  @extend %margin-buttom;

  &__heading {
    @include u.heading;
    text-align: start;
    margin-bottom: 4rem;
  }
  &__items {
    &_item {
    }
  }
  & span {
    color: u.$clr-primary-dk;
  }
}
.media-icons {
  display: flex;
  gap: 1.5rem;
  &_link {
    & svg {
      fill: u.$clr-text-base;
      width: 3rem;
      height: 3rem;
    }
  }
}
