@use '../utils' as u;

.primary-heading {
  position: relative;
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 13%,
      rgba(32, 33, 36, 0) 100%
    ),
    url('../assets/hero-backgroundImg.jpg') no-repeat center / cover fixed;
  // @extend %margin-buttom;
}

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;

  &__hero-heading {
    font-size: u.$fs-hero-heading;
    font-weight: u.$heading-bold;
    line-height: 1.25;

    & span {
      //BUILD
      color: u.$clr-primary;
    }
  }

  &__trial {
    text-align: center;
    &_heading {
      @include u.green-sHeading;
    }
    &_text {
      margin-bottom: 3.5rem;
    }
    &_btn {
      @extend %btn-style;
    }
  }

  &__media-icons {
    @include u.flex-center;
    gap: 2rem;
  }
}
