@use '../utils' as u;

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 1.4rem;

  // for nav only "pc first"
  &__links {
    transition: u.$base-transition;
    @include u.flex-center;
    @media (min-width: u.$phone-breakpoint) {
      & ul {
        display: flex;
        gap: 4rem;
      }
    }
    &_link {
      transition: u.$base-transition;
    }
    &_link:hover {
      color: u.$clr-primary;
      transform: translateY(-2px);
    }
  }
  &__btn {
    display: none;
  }
  // mobile style
  @media (max-width: u.$phone-breakpoint) {
    &__links {
      overflow-x: hidden;
      position: absolute;
      z-index: 999;
      background-color: u.$clr-bg-dark;
      top: 0;
      right: 0;
      width: 85vw;
      height: 100vh;

      gap: 18rem;
      flex-direction: column;

      &_link {
        font-size: u.$fs-heading;
        margin-block: 1rem;
      }
      &-hidden {
        visibility: hidden;
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;
      }
    }
    //  burger btn
    &__btn {
      display: inline-block;
      cursor: pointer;
      padding: 0.5rem;
      z-index: 9999;
      &_lines {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & li {
          caret-color: transparent;
          background: u.$clr-primary-dk;
          width: 2.3em;
          height: 0.3em;
          border-radius: u.$border-r;
          transition: u.$base-transition;
        }
      }
    }
  }
}
