@use '../utils' as u;

.rotate-section {
  background-color: u.$clr-bg-gray;
  @include u.rotate-section;
}

.services {
  &__heading {
    @include u.heading;

    &_sub-heading {
      @extend %sub-heading;
      margin-bottom: 6rem;
    }
  }
}
.single-service {
  &_heading {
    font-size: u.$fs-650;
    font-weight: u.$Semi-bold;
    line-height: 1.1;

    & span {
      //BUILD
      font-size: u.$fs-600;
      color: u.$clr-primary;
    }
  }
  &_img {
    transition: u.$base-transition;
    &:hover,
    &:active {
      transform: translateY(-2.5px);
    }
  }
  transition: u.$base-transition;
  @media (min-width: u.$tap-breakpoint) {
    // animation delay
    &:nth-child(2) {
      transition-delay: 50ms;
    }
    &:nth-child(3) {
      transition-delay: 100ms;
    }
    &:nth-child(4) {
      transition-delay: 150ms;
    }
  }
  @media (max-width: u.$phone-breakpoint) {
    //disable animation on phones
    transform: translateY(0%) !important;
    filter: blur(0px) !important;
    opacity: 1 !important;
  }
}
.personal-trainers {
  text-align: center;
  margin-top: 5rem;
  &_heading {
    @include u.green-sHeading;
  }
  &_text {
    @extend %sub-heading;
    max-width: u.$text-max-width;
    margin-inline: auto;
  }
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  & > * {
    justify-self: center;
    max-width: Min(27rem, 100%);
  }
}

@media (min-width: 40em) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    & > * {
      justify-self: center;
      max-width: Min(20rem, 100%);
    }
  }
}
@media (min-width: u.$tap-breakpoint) {
  .services-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
