@use '../utils' as u;

.subscriptions {
  transition: u.$base-transition;
  @extend %margin-buttom;
  @include u.flex-center;
  flex-direction: column;

  &__heading {
    @include u.heading;
  }
  &__sub-heading {
    @extend %sub-heading;
  }
  &__btn {
    @extend %btn-style;
    margin-top: -2rem;
  }
  & span {
    color: u.$clr-primary-dk;
  }
}

.sub {
  gap: 8rem;
  padding-block: 6rem;
  @media (max-width: u.$phone-breakpoint) {
    grid-template-rows: 1fr 1fr;
    gap: 4rem;
  }

  &__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
    &_btn {
      color: u.$clr-text-base-dk;
      font-size: u.$fs-btn;
      border-radius: u.$border-r;
      font-weight: 800;
      cursor: pointer;
      letter-spacing: 0.1em;
      padding: 0.2em 0.9em;
      border: none;

      transition: u.$base-transition;

      background-color: u.$clr-primary-dk2;
      &--active {
        background-color: u.$clr-primary;
      }
      &:first-child {
        cursor: default;
      }
    }
  }
  &__price {
    height: 100%;
    padding-inline: 1rem;
    @media (min-width: u.$phone-breakpoint) {
      width: 100%;
    }
    border-radius: u.$border-r;
    font-weight: 600;
    background: linear-gradient(
      90deg,
      rgba(48, 48, 48, 1) 52%,
      rgba(0, 0, 0, 0) 85%
    );
    align-self: center;
    justify-self: center;
    @include u.flex-center;
    gap: 2rem;
    text-align: start;

    &_text {
      font-size: u.$fs-600;
    }

    &_num {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      font-size: u.$fs-hero-heading;

      animation: priceNum 0.3s forwards;
    }
  }
}

@keyframes priceNum {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
