@use '../utils' as u;
.schedule-qoute {
  @extend %margin-buttom;
}
// schedule section "left side"
.schedule {
  transition: u.$base-transition;
  &__heading {
    @include u.heading;
    text-align: start;
    margin-bottom: 4rem;
  }

  &__open-time {
    &_gym {
      & span {
        color: u.$clr-primary-dk;
      }
    }

    &_clock {
      margin-bottom: 4rem;
      // clock number "8"
      & span {
        font-size: u.$fs-heading;
        color: u.$clr-primary;
        // clock AM/PM text
        & span {
          color: u.$clr-primary-dk;
          font-size: u.$fs-base;
          margin-left: -0.61em;
        }
      }
    }

    &_choaches {
    }
  }
}

//members quotes section "right side"
.quotes {
  transition: u.$base-transition;
  max-width: Min(100%, 38rem);
  &__heading {
    @include u.heading;
    text-align: start;
    margin-bottom: 2rem;
  }

  &__quotes-container {
    position: relative;
    width: 100%;
    height: 24rem;
    background-color: u.$clr-bg-gray;
    border-radius: u.$border-r;
  }
  &__icon {
    fill: u.$clr-primary-dk;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .single-quote {
    transition: u.$base-transition;

    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    // border: 2px solid red;
    width: 100%;
    &__text {
      text-transform: uppercase;
      padding-inline: 1rem;
      line-height: 1.5;
      margin: 4rem auto 2rem auto;
    }
    &__img {
      text-align: start;
      display: flex;
      align-items: center;

      font-size: u.$fs-300;
      font-weight: u.$base-bold;
      img {
        border-radius: 100%;
        width: 6rem;
        margin: 1rem;
      }
      &_member-name {
        color: u.$clr-text-base-lt;
        font-size: u.$fs-250;
        // name only
        & strong {
          color: u.$clr-text-base;
          font-weight: u.$base-bold;
        }
      }
    }

    // hid qutoes >> reveal from js
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    filter: blur(2px);
    &--active {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
      filter: blur(0px);
    }
  }
}

.quote__dots {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  &_dot {
    cursor: pointer;
    fill: u.$clr-primary-dk2;
    min-width: 1.8rem;
    min-height: 1.8rem;
    &--active {
      fill: u.$clr-primary;
    }
  }
}

.dots-center {
  padding-top: 2rem;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  gap: 2rem;
}
