@use '../utils' as u;

.rotate-section {
  background-color: u.$clr-bg-gray;
  @include u.rotate-section;
}

.services {
  &__heading {
    @include u.heading;

    &_sup-heading {
      @extend %sub-heading;
      margin-bottom: 6rem;
    }
  }
}
.single-service {
  &_img {
    // width: Min(28rem, 100%);
  }
  &_heading {
    font-size: u.$fs-650;
    font-weight: u.$Semi-bold;
    line-height: 1.1;

    & span {
      //BUILD
      font-size: u.$fs-600;
      color: u.$clr-primary;
    }
  }
}
.personal-trainers {
  text-align: center;
  margin-top: 5rem;
  &_heading {
    @include u.grean-sHeading;
  }
  &_text {
    @extend %sub-heading;
    max-width: u.$text-max-width;
    margin-inline: auto;
  }
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  & > * {
    justify-self: center;
    max-width: Min(27rem, 100%);
  }
}

@media (min-width: 40em) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    & > * {
      justify-self: center;
      max-width: Min(20rem, 100%);
    }
  }
}
@media (min-width: u.$tap-breakpoint) {
  .services-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
