@use '../utils' as u;

/* ------------------------------------------- 
               global styling
-------------------------------------------  */

body {
  // typography
  color: u.$clr-text-base;
  font-family: 'Inter', sans-serif;
  font-size: u.$fs-base;
  font-weight: u.$base-bold;
  letter-spacing: 0.6px;
  line-height: 1.4;
  text-rendering: optimizeSpeed;

  // body style
  background-color: u.$clr-bg-dark;
  min-height: 100vh;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;

  @media (min-width: 50em) {
    font-size: 70%;
  }
}

html,
body {
  // for overflow
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

svg {
  width: 2rem;
  height: 2rem;
  fill: u.$clr-text-base;
}

.fit-logo svg {
  width: 5rem;
  height: 5rem;
  fill: u.$clr-primary-dk;
}

/* ------------------------------------------- 
               global classes
-------------------------------------------  */

.container {
  width: Min(1220px, 100%);
  padding-inline: 2rem;
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 2rem;
}
.even-columns > * {
  justify-self: center;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.black-background {
  // for the rotated section
  background: linear-gradient(
    176deg,
    rgba(0, 0, 0, 1) 80%,
    rgba(32, 33, 36, 1) 100%
  );
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 120vh;
  z-index: -1;
}
/* ------------------------------------------- 
    ||JS|| classes that are manipulated by js
-------------------------------------------  */
.set-overflow {
  // to prevant scrolling when menu nav is open
  overflow: hidden;
}
/* button lines */
.line-1 {
  transform: translateY(100%) rotate(-45deg);
}
.line-3 {
  transform: translateY(-100%) rotate(45deg);
}
.line-2 {
  display: none;
}

.overlay-blur {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  backdrop-filter: blur(5px);
}
.hid-blur {
  display: none;
}

// for sections with smooth reveal
.hid-section {
  transform: translateY(50%);
  filter: blur(5px);
  opacity: 0;
}

/* ------------------------------------------- 
            popup error message 
-------------------------------------------  */
.message-container {
  position: fixed;
  bottom: 4rem;
  left: 1rem;
  background: u.$clr-bg-dark;
  border: u.$border-r;
  width: Min(95%, 40em);
  height: Min(10vh, 8rem);
  z-index: 9999;

  transition: u.$base-transition;
  display: grid;
  align-items: center;
  grid-template-columns: 1.5fr 6fr 1fr;
  gap: 0.5rem;

  /* hid */
  &--hid {
    visibility: hidden;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    filter: blur(5px);
  }
  &__btn {
    fill: u.$clr-primary-dk !important;
    width: 3.2rem !important;
    height: 3.2rem !important;
    cursor: pointer;
  }
  & svg {
    justify-self: center;
    width: 5rem;
    height: 5rem;
    fill: u.$clr-primary-dk;
  }
  & p {
    display: inline;
    text-transform: capitalize;
    &:last-child {
      font-size: u.$fs-300;
    }
  }
}
